@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #252a36 #0d0f14;
}

body {
  overflow: hidden;
}
